.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 50px;
    margin-top: 20px;
    background-color: rgba(68, 148, 75, 0.8);
}
.title{
    font-weight: 600;
    font-size: 50px;
    line-height: 1.4;
    color: #7FFF00;
}
.titleColor{
    color: #013220;
}
.titleColor2{
    color: #44ee9c;
}
.text{
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    color: #013220;
}